

/* ##################### Mobile ####################### */
@media all and (max-width: 576px){
    #khas p{
        width: 100%;
    }
    i.active{
        font-size: 3rem;
    }
    .container {
        width: 100%;
        margin: auto;
        padding: 4% 0;
        text-align: center;
    }
}

/* ##################### Tablet ####################### */
@media all and (max-width: 768px){
    #khas p{
        width: 100%;
    }
    i.active{
        font-size: 3rem;
    }
    .container {
        width: 90%;
        margin: auto;
        padding: 4% 0;
        text-align: center;
    }

}

