

/* ##################### Mobile ####################### */
@media all and (max-width: 576px){
    html{
        font-size: 80%;
    }
    #khas p{
        width: auto;
    }
    i.active{
        font-size: 3rem;
    }
    .fa-close{
        padding: 15px 18px;
    
    }
    .container {
        width: auto;
        margin: auto;
        padding: 4% 0;
        text-align: center;
    }
}

/* ##################### Tablet ####################### */
@media all and (max-width: 768px){
    #khas p{
        width: 100%;
    }
    i.active{
        font-size: 3rem;
    }
    .fa-close{
        padding: 15px 18px;
    
    }
    .container {
        width: 90%;
        margin: auto;
        padding: 4% 0;
        text-align: center;
    }

}

